
.icon-mail:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-eye:before { content: '\e803'; } /* '' */
.icon-network:before { content: '\e804'; } /* '' */
.icon-direction-outline:before { content: '\e805'; } /* '' */
